<!DOCTYPE html>
<html>
    <head>
       <link rel="stylesheet" type="text/css" href="style.css"/>
    </head>
   
    <body>
        
    <h1>Welcome to Groups</h1>
        <div class="form"> 
            <form action="/" method="post" class="">
                <label for="arr"><input type="number" id="arr" name="array" placeholder="Enter Array" required/></label>
            
            <input type="submit" name="enter"/>
        </form>
        </div>
       
        
    </body>
    
</html>